* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(50, 48, 47);
}

.navbar {
  position: relative;
}

.navbar h1 {
  font-size: 2em;
  position: relative;
}
@media (max-width: 925px) {
  .navbar h1 {
    position: relative;
    font-size: 1.8em; /* Reduce the font size for smaller screens */
  }
}

.banner-image {
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
}

#carouselExample {
  padding: 20px;
  height: auto;
  min-width: 300px;
}

@media only screen and (max-width: 769px) {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

#menu-container {
  height: auto;
  padding: 30px;
  background-color: rgb(255, 80, 0);
  border-radius: 20px;
  margin-top: 30px;
  color: white;
  line-height: 35px;
}
#menu {
  width: 100%;
}

.card {
  background-color: unset;
  border: 0px;
}

@media screen and (max-width: 460px) {
  .navbar-brand {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}
