* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(172, 168, 168);
}

.navbar {
  position: relative;
}

.navbar h1 {
  font-size: 2em;
  position: relative;
}
@media (max-width: 925px) {
  .navbar h1 {
    position: relative;
    font-size: 1.8em; /* Reduce the font size for smaller screens */
  }
}

.banner-image {
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
}
#carouselExample {
  padding: 30px;
  width: 50%;
  height: auto;
  min-width: 350px;
}

@media only screen and (max-width: 708px) {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #carouselExample {
    width: 100%;
  }
}



#menu-container{
  width: 50%;
  height: auto;
  padding: 30px;
  margin-right: 30px;
  background-color: grey;
  border-radius: 20px;
  margin-top: 30px;
color: white;

}
#menu{
  width: 50%; 
}
h2 {
  color: green;
}