*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body,main{
    font-family: 'Courier New', Courier, monospace;
    background-color: steelblue;
}

.banner-image{
   display: flex;
   height: 200px;
   width: 100%;
   justify-content: center;
}

section{
    display: flex;
    flex-direction: row;
}
#carouselExample{
    padding: 30px;
    width: 50%;
    height: auto;
    min-width: 350px;
}




